extends layout

block content
  h1= title
  p Welcome to #{title}
  //- audio(controls='', autoplay='')
  //-   source(src='/public/audio/Recording.mp3' type='audio/mpeg')
  //-img(src="/public/images/My_visual.png", alt="")