doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="/javascripts/test.js") 
    h1= "hello"
    img(class= "img", src="/images/My_visual.png", alt="")
    block content
